<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174732233254-0nl28eqcq68e5gv9gn037o0l5tj4f4h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174732233254-0nl28eqcq68e5gv9gn037o0l5tj4f4h4</string>
	<key>API_KEY</key>
	<string>AIzaSyD-LjxkC-jbTYRpXtelyC21FDvWoChAQ8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>174732233254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.namanjain.Revels20</string>
	<key>PROJECT_ID</key>
	<string>revels-20</string>
	<key>STORAGE_BUCKET</key>
	<string>revels-20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174732233254:ios:2ffd7554112128582ff4e7</string>
	<key>DATABASE_URL</key>
	<string>https://revels-20.firebaseio.com</string>
</dict>
</plist>